.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin-left: 19.5%;
  margin-right: 19.5%;
  text-align: center;
}

.footer-small-text-align {
  float: right;
  margin-right: 5%;
}