.App {
  text-align: center;
  /* background-image: linear-gradient(to bottom right, #282c34, #3e4760); */
  background-color: #282c34;
  min-height: 100vh;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 15px 15px 15px 15px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 13.5px;
}

.app-text {
  color: white;
  padding: 7.5px;
}

.app-button {
  color: #000000;
  cursor: pointer;
  padding: 0px 30px;
  display: inline-block;
  margin: 5px 7px;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1.5px;
  font-size: 1em;
  outline: none;
  position: relative;
  font-size: 14px;
  border: 3px solid #cfcece;
  background-color: #ffffff;
  border-radius: 15px 15px 15px 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.app-button:hover,
.app-button.hover {
  border-color: #282c34;
}

.app-button-container {
  display: inline-grid;
  margin-left: 30%;
  margin-right: 30%;
}

.app-button-container-full-length {
  display: inline-grid;
  width:100%;
  padding: 1%;
}

.info-header {
  text-align: left !important;
  margin-left: 2.3%;
}

.app-home-height{
  height: 85%;
}